<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>deors.demos.cloud.gae</display-name>

    <servlet>
        <servlet-name>ThoughtService</servlet-name>
        <servlet-class>deors.demos.cloud.gae.server.services.ThoughtServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthInfoService</servlet-name>
        <servlet-class>deors.demos.cloud.gae.server.services.AuthInfoServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ThoughtService</servlet-name>
        <url-pattern>/deors.demos.cloud.gae.thinkingLoud/ThoughtService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthInfoService</servlet-name>
        <url-pattern>/deors.demos.cloud.gae.thinkingLoud/AuthInfoService</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>thinkingLoud.html</welcome-file>
    </welcome-file-list>

</web-app>
